@{
    ViewData["Title"] = "Add a Photo";
}
<h1>@ViewData["Title"]</h1>

<style>
    .back {
        position: relative;
        height: 100vh;
        width: 100%;       
        align-items: center;
        justify-content: center;
    }

        .back::before {
            content: "";
            background-image: url("/Images/Dinsmore-Logo.png");
            background-size: 300px 300px;
            background-repeat: no-repeat;
            background-position: center top ;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.2;
        }

    p {
        position: relative;
        text-align: left ;
        font-size: large;
    }

   
    }
</style>
<br />
<br />
<div class="back">
    <p>
        <b>It is easy to add your classroom photos!</b> Simply email your photos to:
        FriendsOfDinsmoreElementary@gmail.com 
    </p>
    <p>
        Please include your name, email, school year (begin and end), grade level, and the
        teacher’s name. Please send each photo in a separate email.
    </p>
    <p>
        Once uploaded, we’ll send an email so you can tag yourself, your teacher, and your
        classmates!
    </p>

    <p>
        Our goal is to have all the classroom photos from every school year since the current
        school building opened in 1953. Recent year photos can be submitted. However, for
        safety reasons, we only publish photos in which the students are now 18 years of age or
        older.
    </p>
 </div>
