@{
    ViewData["Title"] = "Email Us";
}
<h1>@ViewData["Title"]</h1>


<br />

<p>Please email us if you would like to upload a photo to our site or request to delete a photo.</p>
<p>For Photo Upload: Please include your name, email, the Beginning school year, the ending of the school year, the grade of the class in the photo, the teacher name, and the image itself.</p>
<p>For Photo Deletion: Please include your Name, Email, and the image itself.</p>

<p>Email: FriendsOfDinsmoreElementary@gmail.com</p>
