@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Byte Knight</h1>
    <p>Learn about <a href="https://www.unf.edu/~k.umapathy/sp/seniorprojectteams.html">Byte Knight</a>.</p>
</div>
