@model ImageUpload.Models.TagModel
<p>@Html.ActionLink("<Back", "index") </p>
<h4>TagModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Tag", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <form asp-action="Tag">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Tag" class="control-label">How many people are in the image?</label>
                    <input asp-for="Tag" class="form-control" />
                    <span asp-validation-for="Tag" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Upload Tagged Image</label>
                    <input type="file" id="TagFile" name="TagFile" accept="image/*" required />
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }

        </div>
</div>

<div>
    <a asp-action="ViewImage">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
